*{
    padding-top: 10px;
    margin: 0px; 
}
img{
   
    height: 550px;
    width: 600px;
    float:left;
    position:relative;
   
}

.div1{
    text-align: center;
    position:relative;
    bottom:360px;   
    color:black;
}
.form-control{
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;
}
.form{
    margin:20px  0px 0px 0px;
    padding-left:70px ;
}
